<section id="start" class="d-flex justify-content-center align-items-center">
    <div class="contact text-center"> 
        <div class="img w-100 text-center mb-3">
            <img class="w-80" src="./assets\avataaars.png" alt="person image">
        </div>
        <h2 class="mt-2 py-3">START FRAMEWORK</h2>
        <div class="icon d-flex justify-content-center">
            <div class="line  mx-3"></div>
            <span><i class="fa-solid fa-star"></i></span>
            <div class="line  mx-3"></div>
        </div>
        <p class="lead py-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>